@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("../../public/assets/fonts/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../../public//assets/fonts/AeonikTRIAL-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Aeonik", sans-serif;
  border-color: #e5e7eb;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@layer base {
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.6s ease-out forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

group {
  position: relative;
}
.group::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.group:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.group:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}
.underline-black::after {
  background-color: #000000;
}
.underline-white::after {
  background-color: #FFFFFF;
}

